---
import Layout from "../layouts/default.astro";
---

<Layout title="Homepage">
    <h1>Welcome</h1>
    <p>Welcome to the headless Wordpress website using Astro.</p>
    <p><a href="/blog/">To the blog</a></p>
</Layout>
