---
import Layout from "../layouts/default.astro";
---

<Layout title="Homepage">
    <h1>Welcome</h1>
    <p>
        Welcome to a headless Wordpress website using Astro, Git and Github
        Pages. Fast, Secure, and Lightweight.
    </p>
    <p><a href="/blog/">View the Blog Pages imported from Wordpress.</a></p>
</Layout>
